html{
    font-family: 'Archivo', sans-serif;
}
.header{
    margin: 0 auto;
    width: 1000px;
    position: relative;
}
.menu{
    margin: 0 auto;
    width: 1000px;
    position: sticky;
}
.logo{
    padding: 15px 0px;
    margin-left: 25px;
}
.balk{
    position: sticky;
}

.uitklapmenu{
    display: none;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 35px;
    left: 0;
    width: 220px;
}
.uitklapmenu>li{
    border: 1px solid #222931;
    width: 120px;
    background-color:#222931;
    color: yellow;
    display: inline-block;
}
.uitklapmenu>li:hover{
    background-color:yellow;
    color: black;
}
.uitklapitem:hover > .uitklapmenu{
    background-color: #222931;
    color: yellow;
    display: block;
}
.uitklapitem{
    position: relative;
}
.uitklapitem:hover{
    background-color: yellow;
    color: black;
}
NAV>UL{ 
    color:#ffffff;
    background-color: #222931;
    font-weight: 500;
    padding: 10px;
}
NAV>UL>LI{
    list-style-type: none;
    display: inline-block;
    font-weight: 500;
    padding: 10px;

}
.uitklapmenu>a{
    text-decoration: none;
    color: yellow
}

.banner{
    margin: 0 auto;
    width: 950px;
    padding: 50px;
}
.banner2{
    margin: 0 20px;
}